#topic
  %h1
    = topic.title
    %span.badge.badge-inverse= topic.votes

  %p= topic.description
  = current_user.vote_link(topic)
  
  = current_user.volunteer_link(topic)

  = current_user.edit_topic_link(topic)
  |
  = current_user.destroy_topic_link(topic)

  %h2 Volunteers
  %ul
    - topic.volunteers.each do |volunteer|
      %li= volunteer.name 

  %h2 Voters
  %ul
    - topic.voters.each do |voter|
      %li= voter.name 