.well{ data: { id: topic.id } }
  .row
    .span5
      %h4
        %span.badge.badge-warning= topic.votes
        = topic.link
      = current_user.vote_link(topic)
      = current_user.volunteer_link(topic)
      = current_user.edit_topic_link(topic)
      %p.fine_print
        = "Suggested by #{topic.user.name}"
        |
        = link_to(pluralize(topic.volunteers.size, 'Volunteer'), '#', rel: 'popover', 'data-original-title' => "#{ pluralize(topic.volunteers.size, 'Volunteer') }", 'data-original-title' => "#{ pluralize(topic.volunteers.size, 'Volunteer') }", 'data-content' => "#{topic.volunteer_names.join(', ')}".html_safe, remote: true)
      %p
        = link_to('Full Description', topic, class: 'btn btn-mini')
        = current_user.destroy_topic_link(topic)


    .span5.visible-desktop
      %h5 Description
      = topic.description