%tr{ data: { id: topic.id } }
  %td
    %span.badge.badge-inverse= topic.votes
  %td= topic.link
  %td= current_user.vote_link(topic)
  %td= current_user.volunteer_link(topic)
  %td= current_user.edit_topic_link(topic)
  %td= current_user.destroy_topic_link(topic)