%h1 Listing topics

%table

  - @topics.each do |topic|
    %tr
      %td= topic.votes
      %td= topic.link
      %td= current_user.vote_link(topic)
      %td= current_user.edit_topic_link(topic)
      %td= current_user.destroy_topic_link(topic)

%br

= current_user.new_topic_link
