.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{ "data-target" => ".nav-collapse", "data-toggle" => "collapse" }
      = link_to(image_tag('lvrug_logo_white_2012.png'), root_path)
      .container.nav-collapse
        %ul.nav.pull-right
          %li= link_to 'Topics', topics_path
          - if current_user.organizer
            %li= link_to('Create Meeting', new_meeting_path)
          %li= current_user.session_control
          %li= current_user.registration_link
